<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">

	<!-- 검색시 필요한 문장 -->
	<sql id="where-list">
		<choose>
			<!-- 검색조건이 회원아이디'userId'라면 -->
			<when test="condition=='userId'">
				<!-- db에 저장된 userid에서 검색값이 있는 지 찾아라 -->
				instr(m1.userid,#{keyword}) &gt;= 1
			</when>
			<otherwise>
				<!-- 그게 아니라면 #{condition}에서 검색값이 있는 지 찾아라 -->
				instr(#{condition},#{keyword}) &gt;=1
			</otherwise>
		
		</choose>
	</sql>


	<select id="dataCount" parameterType="map" resultType="Integer">
		select nvl(count(*),0)
		from qna
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>		
	
	</select>
	
	<!-- qna리스트 조회 -->
	<select id="qnaList" parameterType="map" resultType="com.olive.olive.qna.Qna">
		select qnaNum, subject, questionId, questionContent,
		to_char(questioncreated, 'YYYY-MM-DD') questioncreated, answerId, answerContent, to_char(answercreated, 'YYYY-MM-DD') answercreated from qna
		order by qnaNum desc 
		offset #{offset} rows fetch first #{rows} ROWS only
	</select>
	
	<!-- question article -->
	<select id="readQna" parameterType="Integer" resultType="com.olive.olive.qna.Qna">
		select qnaNum, subject, questionId, questionContent,to_char(questioncreated, 'YYYY-MM-DD') questioncreated, 
			answerContent,to_char(answercreated, 'YYYY-MM-DD') answercreated
		from qna
		where qnaNum= #{qnaNum}
	</select>
	
	<!-- answer article -->
	<select id="articleAnswer" parameterType="Integer" resultType="com.olive.olive.qna.Qna">
		select qnaNum, ,answerId,answerContent,to_char(answercreated, 'YYYY-MM-DD') answercreated
		from qna
		where qnaNum= #{qnaNum}
	</select>

	<!-- 질문 등록 -->
	<insert id="insertQuestion" parameterType="com.olive.olive.qna.Qna">
		insert into qna(qnaNum, subject,questionId,questionContent, questioncreated)
		values(#{qna_seq.nextval},#{subject},#{questionId},#{questionContent},sysdate)
	</insert>
	
	<!-- 답변 등록 -업데이트수정해야함-->
	<update id="insertAnswer" parameterType="com.olive.olive.qna.Qna">
		update qna set answerId=#{answerId},answerContent=#{answerContent},answercreated=sysdate
		where qnaNum=#{qnaNum}
	</update>		
</mapper>