@charset "UTF-8";

* {
	margin:0; padding:0;
	box-sizing: border-box;
}

body {
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	font-size: 14px;
}

.btn1 {
	color:#333;
	font-weight:500;
	border:1px solid #ccc;
	background-color:#fff;
	text-align:center;
	padding:3px 10px 5px;
	border-radius:4px;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	cursor:pointer;
}
.btn1:active, .btn1:focus, .btn1:hover {
	background-color:#e6e6e6;
	border-color: #adadad;
	color: #333;
}
.btn1[disabled], fieldset[disabled] .btn1 {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}

.bbtn {
    background-image:none;
    background: #424951;
	border:1px solid #2f3741;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    color:#fff;
    font-weight: normal;
    text-align:center;
}
.bbtn:hover, .bbtn:active, .bbtn:focus {
   font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    background-image:none;
    background: #333;
   	border:1px solid #333;
    color:#fff;
    font-weight: normal;
}

.wbtn {
    background-image:none;
    background: #fff;
	border:1px solid #d5d5d5;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    color:#000;
    font-weight: normal;
    text-align:center;
}
.wbtn:hover {
    background-image:none;
    background: #f6f6f6;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    color:#000;
    font-weight: normal;
}

textarea:focus, input:focus{
	outline: none;
}

.boxTF {
	border:1px solid #999;
	padding:3px 5px 5px;
	border-radius:4px;
	background-color:#fff;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}
.boxTF[readonly] {
	background-color:#eeeeee;
	/* border: none;*/
}

.selectField {
	border:1px solid #999;
	padding:3px 5px 3px;
	border-radius:4px;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}

.boxTA {
	border:1px solid #999;
	height:150px;
	padding:3px 5px;
	border-radius:4px;
	background-color:#fff;
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	resize : none;
}
